body
{
	background-image:url("img/FW.jpg");
	background-attachment:transparent;
	background-repeat: no-repeat;
	background-size: cover;

}
.text2
{
	color:black;
}
.white
{
	color:rgb(255, 255, 255);
}
h1
{
	text-align:center;
	color:brown;
}
#bild
{
	margin-left:30%;
}
html,body
{
	padding:0;
	margin:0;
}
img
{
	width:35vw;
	height:auto;
	border-width:2px;
	border-color:white;
	border-style:solid;
}
#text
{
	color:white;
}
nav 
{
	display:flex;
	position:sticky;
	top:0px;
	margin-left:20%;
	

}

#startbild img{
	width:50vw;
	margin-right:2%;
	
}
a{
	display:flex;
	width:25%;
	color:white;
	text-decoration:none;
	margin-left: 10%;
	font-size:200%;
	
}
h2,p
{
	text-align:center;
	font-size:175%;
	color:black;
}
h2
{
	font-size:300%;
	color:brown;
}
#kleiner
{
	height:20vh;
	width:auto;
}
#Start
{
	position:absolute;
	color:white;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:white; 
	
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:white;
}

/*****
Bildergalerie
*******/

.bildergalerie {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
}

.bildergalerie > div {
	display: flex;
	flex-direction: column;
	width: 24%;
	margin: 0.5vh;
	min-width: 200px;
	box-sizing: border-box;
}

.bildergalerie > div > img {
	margin: 0.5vh;
	width: 100%;
	height: auto;
	
}

.bilder1 {
	display: none;
	position: fixed;
	z-index: 2;
	padding-top: 2vh;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
	overflow-y: hidden;
}

.bilder1 > img {
	margin: auto;
	display: block;
	width: 60vw;
	height: auto; 
}

.bilder1 > span {
	position: absolute;
	top: 1vh;
	right: 1vh;
	font-size: 3rem;
	font-weight: bold;
	transition: 0.3s;
	color: #fff;
}

.bilder1 > span:hover, .modal > span:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#bildtext {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 60vw;
    text-align: center;
    color: #ccc;
    padding: 1vh 0;
    height: 3vh;
}

.bilder1 > img, #bildtext {
  animation-name: ani1;
  animation-duration: 0.6s;
}

@keyframes ani1 {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.flex {
	display: flex;
	width: 100%;
}

.flex > div {
	width: 33%;
}

.flex > div > img{
	width: 90%;
	height: auto;
}

.flex > img {
	width: 33.3%;
	height: auto;
	box-sizing: border-box;
}

.flex2 {
	display: flex;
}

.flex2 > div {
	width: 50%;
	box-sizing: border-box;
}

.flex2 img {
	width: 98%;
	height: auto;
}

.limiter {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
#mail
{
	text-align:center;
	margin-left:37%;
	
}
#mail:hover
{
	text-align:center;
	text-decoration:underline;
	color:red;
}
